{%extends 'base.html'%}

{%block title%}Formu{%endblock%}

{%block content%}


<section class="hero is-success is-fullheight">
    <!-- Hero head: will stick at the top
        <div class="hero-head">
            <header class="navbar">
      </header>
    </div> -->

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div>
                <section class="section">
                    <!-- <header class="header">Hola soy header</header> -->
                    
                    <form class="form-horizontal" action="/guardar" method="post">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>Formulario de registro</legend>
                            <h2>Datos personales</h2>
                            <input type="hidden" id="id" name="id" value="{%if datos%}{{datos[0]}}{%endif%}"><br/>

                            
                            <!-- Text input-->
                            <div class="field">
                                <label class="label" for="nombre">Nombre</label>
                                <div class="control">
                                    <input id="nombre" name="nombre" type="text" placeholder="Pepito..." class="input " value="{%if datos%}{{datos[1]}}{%endif%}">
                                    <p class="help">Introduzca su Nombre o Nombres</p>
                                </div>
                            </div>
                            
                            <!-- Text input-->
                            <div class="field">
                                <label class="label" for="apellido">Apellidos</label>
                                <div class="control">
                                    <input id="apellido" name="apellido" type="text" placeholder="Segovia..." class="input " value="{%if datos%}{{datos[2]}}{%endif%}">
                                    <p class="help">Introduzca su Apellido o Apellidos</p>
                                </div>
                            </div>
                            
                            <!-- Text input-->
                            <div class="field">
                                <label class="label" for="dni">DNI</label>
                                <div class="control">
                                    <input id="dni" name="dni" type="text" placeholder="16799452E..." class="input " value="{%if datos%}{{datos[3]}}{%endif%}">
                                    <p class="help">Introduzca su DNI (Incluyendo la letra)</p>
                                </div>
                            </div>
                            
                            <!-- Drop Down 2 -->
                            <div class="field">
                                <label class="label">Ocupación</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="ocupacion" name="ocupacion">
                                            <option value="-1">Seleccione ocupación</option>
                                            {% for o in ocupaciones%}
                                            <option value="{{o[0]}}" {%if (datos) and (datos[4] == o[0]) %} selected {%endif%} >{{o[1]}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                                
                                
                            <!-- Multiple Radios (inline) -->                                    
                            <div class="field">
                                <label class="label" for="">Números</label>
                                <div class="control">
                                    {% for num in numeros%}
                                    <label class="radio inline" for="dato{{num[0]}}" name="numeros" id="numeros-0">
                                        <input type="radio" name="numero" id="dato{{num[0]}}" value="{{num[0]}}" {%if (datos) and (num[0]==datos[5]) %}checked{%endif%}>
                                        {{num[1]}}
                                    </label>
                                    {%endfor%}
                                </div>
                            </div>

                            <!-- Multiple Checkboxes (inline) -->
                            <div class="field">
                                <label class="label" for="">Vehículos</label>
                                <div class="control">
                                    {% for v in vehiculos%}
                                    <label class="checkbox inline" for="vh{{v[0]}}">
                                        <input type="checkbox" name="vehiculo" id="vh{{v[0]}}" value="{{v[0]}}" {%if (mi_vehiculos) and v[0] in mis_vehiculos%}checked{%endif%}>
                                        {{v[1]}}
                                    </label>
                                    {%endfor%}
                                </div>
                            </div>
                                
                            <!-- Button -->                            
                            <div class="field">
                                <label class="label" for="singlebutton-0"></label>
                                <div class="control">
                                    <button id="singlebutton-0" name="singlebutton-0" 
                                    class="button is-large is-fullwidth is-rounded is-dark is-focused">
                                    Guardar
                                    </button>
                                </div>
                            </div>
                            <div>
                                {% if datos%}
                                <button class="button  is-large is-fullwidth is-rounded is-danger is-focused"><a href="/delete/{{datos[0]}}">Borrar</a></button>
                                {%endif%}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <a class="button is-dark" href="/">Back to Home</a>
</section>


{%endblock%}
